@charset "UTF-8";

span.content_text{
	
	font-size: 25px;
	color: #4375DB;
	font-family: malgun;
	font-weight: bold;
	font-align:center;
}

span.info_text{
	
	font-size: 20px;
	color: #0a0468;
	font-family: malgun;
	font-weight: normal;
	font-align:left;
}

input.input_box{
	
	border: 3px solid #4375DB;
	background-color: #ffffff;
	width: 200px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}
input.input_title{
	
	border: 3px solid #4375DB;
	background-color: #ffffff;
	width: 600px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}

textarea.content{
	
	border: 3px solid #4375DB;
	background-color: #ffffff;
	width: 96%;
	height: 300px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}

input.button{
	
	border: 2px solid #10459e;
	background-color: #1a64d5;
	width: 150px;
	padding:5px;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}

input.button:hover{
	
	background-color:#b4cef5;
	color:#10459e;
}

select.tel1{
	
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 80px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}
input.tel2{
	
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 120px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}
input.select_join{
	border: 2px solid #000080;
	background-color: #ffffff;
	width: 250px;
	height: 200px;
	padding:5px;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	color: #000080;
}	

input.select_join:hover{
	
	background-color: #2924BD;
	color: #f9f9ff;
}
input.button_log{
	
	border: 2px solid #10459e;
	background-color: #1a64d5;
	width: 150px;
	height: 90px;
	padding:5px;
	font-family: Arial;
	font-size: 18px;
	color: #d5d5d5;
}
input.button_log:hover{
	background-color:#b4cef5;
	color:#10459e;
}
span.reg_text{
	
	font-size: 15px;
	color: #4375DB;
	font-family: malgun;
	font-weight: bold;
	font-align:center;
}
textarea.reg_text{
	
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 500px;
	height: 300px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}

img.book_img{
	width: 250px;
	height: 300px;
	border:solid 5px #2d10f5;
}
img.rnt_img{
	width: 300px;
	height: 370px;
	border:solid 5px #2d10f5;
}
input.btn_rentY{
	
	border: 1px solid #d5d5d5;
	background-color: #999999;
	width: 50px;
	padding:5px;
	font-family: Arial;
	font-size: 12px;
	color: #0000ff;
	border-radius: 12px;
}
input.btn_rentN{
	
	border: 1px solid #d5d5d5;
	background-color: #999999;
	width: 50px;
	padding:5px;
	font-family: Arial;
	font-size: 12px;
	color: #fa053d;
	border-radius: 12px;
}

input.btn_book{
	
	border: 1px solid #d5d5d5;
	background-color: #5e5e5e;
	width: 100px;
	padding:5px;
	font-family: Arial;
	font-size: 18px;
	color: #d5d5d5;
}
input.input_date{
	
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 100px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 13px;
	color: #000000;
}
input.input_rent{
	
	border: 1px solid #ffffff;
	background-color: #ffffff;
	width: 255px;
	padding:5px;
	margin:10px;
	font-family: Arial;
	font-size: 16px;
	color: #000000;
}
input.btn_rent{
	border: 2px solid #10459e;
	background-color: #1a64d5;
	width: 150px;
	padding:5px;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}
input.btn_rent:hover{
	background-color:#b4cef5;
	color:#10459e;
}
input.btn_returnN{
	
	border: 3px solid #737373;
	background-color: #e0e0e0;
	width: 65px;
	padding:5px;
	font-family: Arial;
	font-size: 12px;
	color: #0000ff;
	border-radius: 12px;
}
textarea.rbcontent{
	width:550px;
	height:100px;
}
input.btn_reply{
	border: 2px solid #10459e;
	background-color: #1a64d5;
	width: 100px;
	height: 100px;
	padding:5px;
	font-family: Arial;
	font-size: 18px;
	color: #ffffff;
}
input.btn_reply:hover{
	background-color:#b4cef5;
	color:#10459e;
}
table.rpy_box{
	width:80%;
	border: 5px double #4044ee;
	background-color: #d8dafc;
	padding:5px;
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	border-radius: 12px;
	
}
td.board_form{
	width:80%;
	padding:5px;
	background-color: #c7daf8;
	border: 5px solid #4044ee;
	border-radius: 12px;
}