@charset "UTF-8";

body{
	margin:0;
	padding:0;
}

td.footer_text{
	
	font-size: 16px;
	color: #ffffff;
	font-family: Arial;
	text-align: center;
}
td#f_hbar{
	border-radius:15px 15px 0 0;
}
td#f_lbar{
	border-radius:0 0 15px 15px;
}