@charset "UTF-8";

td.board_title{
	
	font-size: 20px;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	background-color: #4f4f4f;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
}

td.board_content{
	
	font-size: 20px;
	font-weight: nomal;
	font-family: malgun;
	color: #000000;
	background-color: #FFE5C2;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
}

td.book_title{
	
	font-size: 17px;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	background-color: #4f4f4f;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
}
td.book_title1{
	
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	color: #ffffff;
	background-color: #4f4f4f;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
}
td.book_content{
	
	font-size: 14px;
	font-weight: bold;
	font-family: malgun;
	color: #585858;
	background-color: #FFE5C2;
	text-align: left;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
}
td.book_view{
	
	font-size: 15px;
	font-weight: nomal;
	font-family: malgun;
	color: #4e6cd8;
	background-color: #FFE5C2;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-decoration:underline;
}
td.book_returnY{
	
	font-size: 12px;
	font-weight: nomal;
	font-family: malgun;
	color: #0000ff;
	background-color: #FFE5C2;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
}
td.book_returnN{
	
	font-size: 12px;
	font-weight: nomal;
	font-family: malgun;
	color: #fa053d;
	background-color: #FFE5C2;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-align: center;
}
td.book_rtitle{
	
	font-size: 15px;
	font-weight: nomal;
	font-family: malgun;
	color: #4e6cd8;
	background-color: #FFE5C2;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
}

span.book_returnN{
	font-size: 12px;
	font-weight: nomal;
	font-family: malgun;
	color: #fa053d;

}
span.book_returnY{
	font-size: 12px;
	font-weight: nomal;
	font-family: malgun;
	color: #0000ff;
}
td.book_return{
	text-align: center;
	background-color: #FFE5C2;
}
