@charset "UTF-8";

span.index_title01{
	font-size:40px;
	color:#017426;
	font-family: Arial;
	font-weight:bold;
}

span.index_title02{
	font-size:15px;
	color:#648754;
	font-family: Arial;
	font-weight:bold;
}

span.index_skill01{
	font-size:30px;
	color:#ffffff;
	font-family: Arial;
	font-weight:bold;
}

span.login_title{
	font-size:18px;
	color:#090f86;
	font-family: Arial;
	font-weight:bold;
}
span.rent_title{
	font-size:40px;
	color:#ffffff;
	font-family: Arial;
	font-weight:bold;
}
span.rpy_title1{
	font-size:15px;
	color:#090f86;
	font-family: Arial;
	font-weight:bold;
}
span.rpy_title2{
	font-size:21px;
	color:#090f86;
	font-family: Arial;
	font-weight:bold;
}
span.book_title{
	font-size:15px;
	color:#0dbee3;
	font-family: Arial;
	font-weight:bold;
}
a{
	text-decoration:none;
}
span.book_title2{
	font-size:40px;
	color:#1a64d5;
	font-family: Arial;
	font-weight:bold;
}